
:root {
  --color-text:red;
  --color-background:#fff;
	
	--color-text-dark:#fff;
  --color-background-dark:#000;
	
	--color-film:blue;
}



body {
  background-color: var(--color-background);
}


h1 {
    color: var(--color-text);

    text-align: center;
}

h2 {
  color: var(--color-text);

  margin-top: 10vh;
}


ul:first-of-type {
  display: flex;
  margin-top: 15vh;
}

  
ul {
    width: 100%;
    height: 180px;

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    z-index: 2;
    align-items: center;

}
  
li {
    width: 5vw;
    height: 15vw;

    background-color: var(--color-film);
    border: 2px solid var(--color-background-dark);

    margin: 3px;
    position: relative;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;

}
  
h3 {
    position: absolute;
    rotate:180deg;

    writing-mode: vertical-lr;
    text-align: center;

    color: var(--color-text);

    line-height: 1em;
    font-size: 1.5vw;

    text-shadow:
     0 0 .1em #0009,
     0 0 .2em #0009,
     0 0 .3em #0009,
     0 0 .4em #0009;
}
  
li img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  z-index: -1;
}



@keyframes vallen {
  0% {
    transform: rotate(0deg);
    
  }
  100% {
    transform: rotate(-16deg);
    margin-right: 2.15vw;
    margin-left: 1.3vw;
  }

}




.selected {
  background-color: transparent;
  animation: size-up 2s ease;
  animation-fill-mode: both;

  border: 3px solid white;

}

.selected h3 {
  color:transparent;
  text-shadow: unset;

  z-index: -10;
}
  
.selected img {
  position: relative;

  z-index: -9;
} 






@keyframes size-up {
  0% { 
    z-index: 10;
  }
  2%{
    left: 8%;
    top: 40%;
    width: 10vw;
    
  } 50% {
    transform: scale(1.8);
    transform: rotate(45deg);

    top: 50%;
    left: 25%;
  }
  100% { 
    position: absolute;
    z-index: 10;
    transform: rotate(360deg) scale(2.5);
    
    top: 50%;
    left: 50%;
    width: 10vw;

    background-color: transparent;
  }
}





@media (prefers-color-scheme:dark) {
	body {

		background-color:var(--color-background-dark);
		color:var(--color-text-dark);
	}
}


